@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Manage employees, add, edit, or delete employees in the system.</p>

    <a asp-page="/Employees/Index" class="btn btn-light">View Employee List</a>
</div>


